@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: "Nanum Gothic Coding", monospace;
}

.container{
    width: 360px;
    padding: 30px;
    text-align: center;
    background-color: rgb(4, 29, 29);
    margin-left: 33%;
    margin-top: 5px;
    border-radius: 13px;
 }

.button{
  width: 65px;
  padding: 19px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  font-size: 23px;
  font-family: "Nanum Gothic Coding", monospace;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 303px;
  font-size: 30px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: "Nanum Gothic Coding", monospace;
}