body{
    background-color: darkturquoise;
    font-family: "Nanum Gothic Coding", monospace;
 }
 .container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 33%;
    margin-top: 5px;
 }
 input{
    width: 270px;
    padding: 8px;
    border: 2px solid darkturquoise;
    outline: none;
    font-size: 19px;
    font-family: "Nanum Gothic Coding", monospace;

 }
 button{
    width: 60px;
    height: 41px;
    background-color: darkturquoise;
    color: black;
    border: none;
    cursor: pointer;
    font-family: "Nanum Gothic Coding", monospace;
    outline: none;
    border-radius: 2px;
    font-size: 19px;
 }

 i{
   width: 60px;
   height: 41px;
   color: black;
   cursor: pointer;
   font-family: "Nanum Gothic Coding", monospace;
   border-radius: 2px;
   font-size: 23px;
}

 .text ul{
    position: relative;
    background-color: darkturquoise;
    color: black;
    font-size: 19px;
    padding: 7px;
    text-align: left;
 }
 .text ul i{
    position: absolute;
    right: -30px;
    cursor: pointer;
 }